<!doctype html>
    html(lang="en")
    head
       include ../includes/head

    body
        include ../includes/navbar

        .container.pt.mb-5
            
            block content
                
        include ../includes/script