<!doctype html>
<html lang="en">
  <head>
    <title>HomePage</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-brand" href="/">Shopping</a>
          </div>
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Register</a>
            </li>
          </ul>
        </div>
    </nav>

    <div class="container" style="padding-top:100px;">
        <div class="row">
             <div class="col-lg-3">
                <div class="list-group">
                    <a href="" class="list-group-item">Category 1</a>
                    <a href="" class="list-group-item">Category 2</a>
                    <a href="" class="list-group-item">Category 3</a>
                </div>
             </div>
             <div class="col-lg-9 ">
                <div id="mySlider" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="mySlide" data-slide-to="0" class="active"></li>
                        <li data-target="mySlide" data-slide-to="1"></li>
                        <li data-target="mySlide" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="resim/slider1.jpg" alt="" class="d-block img-fluid">
                        </div>
                        <div class="carousel-item">
                            <img src="resim/slider2.jpg" alt="" class="d-block img-fluid">
                        </div>
                        <div class="carousel-item">
                            <img src="resim/slider3.jpg" alt="" class="d-block img-fluid">
                        </div>
                    </div>
                    <a href="#mySlider" class="carousel-control-prev" data-slide="prev"> 
                        <span class="carousel-control-prev-icon"></span>
                     </a>
                     <a href="#mySlider" class="carousel-control-next" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                     </a>
                </div>

                <div class="row">
                    <div class="col-md-4 ">

                        <div class="card my-3">
                            <img src="resim/1.jpg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Product name</a>
                                </h4>
                                <p class="card-text pt-2">
                                    Lorem ipsum dolor sit.
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <i class="fa fa-try" aria-hidden="true"></i>
                                    100 
                                </small>
                                <a href="#" class="btn btn-secondary bt-sm float-right">
                                    <i class="fa fa-angle-double-right"></i>
                                    Details 
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="card my-3">
                            <img src="resim/2.jpg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Product name</a>
                                </h4>
                                <p class="card-text pt-2">
                                    Lorem ipsum dolor sit.
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <i class="fa fa-try"></i>
                                    100
                                </small>
                                <a href="#" class="btn btn-secondary bt-sm float-right">
                                    <i class="fa fa-angle-double-right"></i>
                                    Details 
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="card my-3">
                            <img src="resim/3.jpg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Product name</a>
                                </h4>
                                <p class="card-text pt-2">
                                    Lorem ipsum dolor sit.
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <i class="fa fa-try"></i>
                                    100
                                </small>
                                <a href="#" class="btn btn-secondary bt-sm float-right">
                                    <i class="fa fa-angle-double-right"></i>
                                    Details 
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="card my-3">
                            <img src="resim/4.jpg " alt="" class="card-img-top">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Product name</a>
                                </h4>
                                <p class="card-text pt-2">
                                    Lorem ipsum dolor sit.
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <i class="fa fa-try"></i>
                                    100
                                </small>
                                <a href="#" class="btn btn-secondary bt-sm float-right">
                                    <i class="fa fa-angle-double-right"></i>
                                    Details 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

             </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>